body {
    margin: 0px;
    text-align: center;
    font-family: verdana, sans-serif;
}
h1 {
    width: 10%;
    margin: 0 auto 0 auto;
}

.top-container {
    background-color: #94B49F; 
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
    position: absolute;
}

.bottom-cloud {
    position: absolute;
}